/* Header */
.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;

}

.logo{
    width: 150px;
    height: 110px;
}

.nav-items > ul{
    display: flex;
    font-size: 24px;
    align-items: center;
    padding-right: 50px;
}

.nav-items>ul>li{
    padding: 20px;
    margin: 0px 20px;
    list-style-type: none;
}

/* Body */
.filter-btn{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

/* Restaurant Card */

.res-container{
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    /* justify-content: flex-start; */
    /* border: 2px solid black; */
}

.res-card{
    margin: 5px;
    width: 200px;
    padding: 5px;
}

.res-card:hover{
    border: 2px solid black;
    cursor: pointer;
}

.res-logo {
    height: 115px;
    width: 100%;
}



